<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.midnight_chevves">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".Startup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Midnight_chevves"
        tools:replace="android:theme">

        <activity
            android:name=".Admin.AddDescriptionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.PaymentFormEmail"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AddExtrasActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.Category.CategoryExtras"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.ManageOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.CustomerOrdersActivity"
            android:exported="false"
            android:parentActivityName=".Customer.Activities.CustomerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AddWinesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.Category.CategoryWines"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AddBoxesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.EditProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.Category.CategoryBoxes"
            android:exported="false"
            android:parentActivityName=".Admin.AdminActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AddCakesActivity"
            android:exported="false"
            android:parentActivityName=".Admin.Category.CategoryCakes"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.Category.CategoryCakes"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.ProductDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Customer.Activities.CustomerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpStep3Activity"
            android:exported="false"
            android:parentActivityName=".SignUpStep2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpStep2Activity"
            android:exported="false"
            android:parentActivityName=".SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.LoginSecurityActivity"
            android:exported="false"
            android:parentActivityName=".Customer.Activities.CustomerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.AddressActivity"
            android:exported="false"
            android:parentActivityName=".Customer.Activities.UserAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Customer.Activities.UserAddressActivity"
            android:exported="false"
            android:parentActivityName=".Customer.Activities.CustomerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"

            android:screenOrientation="portrait"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer.Activities.CustomerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYT9cpJkYHg-LhHcUD7i75L5EPDi-b5Y8" />
    </application>

</manifest>